*{
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}

#header{
    width:800px;
    min-height: 0px;
    background-color:skyblue;
    padding:10px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#dojo{
    width: 50px;
    height:50px;
    margin-right: 0px;
}
#header h1{
    color:white;
    margin-right: 0px;
}
#header ul{
    display:flex;
    color:white;
}
#header li{
    margin-right:50px;
    color:white;
}

